.footer {
  background-color: var(--primary-dark);
  color: var(--text-light);
}

.link {
  color: var(--bg-white);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.25rem 0;
}

.socialIcon {
  transition: transform 0.3s ease;
  padding: 0.25rem;
}
.socialIcon:hover {
  transform: scale(1.2);
}
.footerBottom {
  background-color: var(--primary-dark);
}
.footerBottomContent {
  background-color: var(--bg-muted);
  color: var(--text-light);
  border-radius: 2rem 2rem 0 0;
}
